* {
  font-weight: 300;
  color: #3f3f3f;
}

main {
  min-height: 80vh;
}

.btn-default:focus {
  outline: none;
  box-shadow: none;
}

.focusframe :focus {
  outline: none !important;
}

/* remove blue background on inputs when autofilled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}


/* price slider style in filters */
